:root {
    --neutral-color: #321947;
    --light-color: #9b7ebd;
}



.breadcrumbs {
    list-style: none;
    padding: 0;
}

.breadcrumbs li {
    display: inline;
    margin-right: 10px;
}

.breadcrumbs li a {
    text-decoration: none;
    color: var(--neutral-color);
    font-style: italic;
    position: relative;
    font-size: 16px;
}

.breadcrumbs li::after {
    content: "/";
    margin-left: 10px;
    color: var(--neutral-color);
}

.breadcrumbs li:last-child::after {
    content: "";
}

.breadcrumbs a::after,
.breadcrumbs a::before {
    content: "";
    position: absolute;
    height: 1.5px;
    bottom: -2px;
    width: 0;
    background-color: var(--light-color);
    transition: width 0.5s;
}

.breadcrumbs a::before {
    right: 0;
}

.breadcrumbs a::after {
    left: 0;
}

.breadcrumbs a:hover::after,
.breadcrumbs a:hover::before {
    width: 100%;
}

@media (max-width: 768px) {
    .breadcrumbs li a {
        font-size: 14px;
    }

    .breadcrumbs li::after {
        content: none;
    }
}